<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LuxAuto{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block head %}{% endblock %}

</head>
<body>

{% block header %}
<header>
    <a href="/">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="logo luxauto" width="100">
        </div>
    </a>

    <nav class="nav-links">
        <a href="/">Home</a>
        <a href="/auto">Auto's</a>
        <a href="#">Over</a>
        <a href="{{ url_for('routes.contact') }}">Contact</a>
    </nav>

    <div class="nav-knoppen">
    {% if session.get('user') %}
        {% if session.get('is_admin') %}
            <a href="/admin">Admin</a>
        {% endif %}
        <a href="/profiel">Profiel</a>
        <a href="/logout">Uitloggen</a>
    {% else %}
        <a href="/login">Inloggen</a>
        <a href="/signup">Aanmelden</a>
    {% endif %}
</div>
</header>
{% endblock %}

{% block content %}{% endblock %}


</body>
</html>
