<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mijn Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block head %}{% endblock %}

</head>
<body>
    <nav class="navbar">
        <a href="/"><img src="#"></a>
        <a href="index.html">Home</a>
        <a href="#">Over</a>
        <a href="#">Contact</a>
        {% if session.get('user') %}
            <a class="button" href="/logout">Uitloggen</a>
        {% else %}
            <a class="button" href="/login">Inloggen</a>
        {% endif %}
    </nav>

</body>
</html>
